body{
    background-color: blue;
}
h2{
    color: greenyellow;
}
a{
    color: hotpink;

    word-spacing: 1cm;

}
p{
    color: white;
    font-size: small;
}
h3{
    color: whitesmoke;
}
h1{
    color: whitesmoke;
}